<h3>Edit the entry</h3>
<form action="/<%= @id %>/edit" method="POST">
  <p>
    <label>First name:
      <input name="First Name" type="text" value="<%= params["First Name"] || @entry[:first_name] %>" />
    </label>
  </p>
  <p>
    <label>Last name:
      <input name="Last Name" type="text" value="<%= params["Last Name"] || @entry[:last_name] %>"/>
    </label>
  </p>
  <p>
    <label>Address:
      <input name="Address" type="text" value="<%= params["Address"] || @entry[:address] %>"/>
    </label>
  </p>
  <p>
    <label>Phone Number:
      <input name="Phone Number" type="text" value="<%= params["Phone Number"] || @entry[:phone_number] %>"/>
    </label>
  </p>
  <button type="submit">Submit</button>
</form>
<p><a href="/">Back</a></p>